* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu monospace;",monospace;
}
section {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.container {
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.child1 {
  margin: auto;
  padding: 36px;
}

.child2 {
  width: 66%;
  margin: auto;
  padding: 36px;
}

img {
  justify-content: center;
  align-items: center;
  /*margin: auto;*/
  display: block;
}


@media screen and (max-width: 1000px) {
  section {
    flex-direction: column;
  }
  h1 {
    font-size: 24px;
    margin: 12px;
  }
  h2 {
    font-size: 18px;
    margin: 12px;
  }
  h3 {
    font-size: 12px;
    margin: 12px;
  }
  p {
    font-size: 12px;
    margin: 12px;
  }
  .child2 {
    /*width: 50%;   Or whatever */
    /*height: 50%;  /* Or whatever */*/
    margin: auto;  /* Magic! */
    padding: 36px;
    height: 25vh;
  }
  .child1 {
    margin: auto;
    padding: 36px;
    height: 50vh;
  }
}