p {
  margin: auto;
  text-align: left;
  padding: auto;
  line-height: 36px;
  width: 80%;
  font-size: 24px;
  padding: 12px;
}
img {
  margin: auto;
  padding: 12px;
}
h1, h2, h3 {
  text-align: center;
  padding: 12px;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
hr {
  margin: 24px;
}