html {
  background-image: linear-gradient(rgb(0,0,0), rgb(50,50,50));
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 100vmax;*/
  display:flex;

  /*How to set minimum height*/
  min-height: 100%;
  height:auto;
  /* always makes scrollbar appear */
  /*overflow-y: scroll;*/
}
::-webkit-scrollbar {
  width:0px;
  /*how to make scroll disappear?*/
  /*background-color:transparent;*/
}
body {
  font-family: "Consolas", Helvetica, sans-serif;
  width:100%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.25rem;
  color: white;
  text-align: center;
}
p {
  /*width:1000px;*/
  text-align: center;
  display: inline-block;
}
a:link, a:visited, button {
  background-image: linear-gradient(rgb(50,50,50), rgb(100,100,100));
  border: none;
  color: white;
  padding: 0.5em 0.5em;
  display: inline-block;
  font-size: 1em;
  font-family: "Consolas";
  min-width:200px;
  background-repeat: no-repeat;
  -webkit-transition: background-image 5s ease-in-out;
  transition: background-image 5s ease-in-out;

}

#buttons {
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  color: lightblue;
  background-image: linear-gradient(rgb(100,100,100), rgb(150,150,150));
}

a:active {
  color:cyan;
}

br {
  display: block;
  content: " ";
  margin: 15px 0;
}

ul li {
  text-align: left;
  /*word-break: break-all;*/
}
