* {
  box-sizing: border-box;
  font-family: "Ubuntu monospace;", monospace;
  background-color: black;
}

.MainIndex {
  text-align: left;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.page {
  height: 100vh;
  width: 80%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.left {
  width: 100%;
}

.right {
  width: 100%;
}

.major {
  float: left;
}

.minor {
  width: 30%;
  float: left;
  padding-right: 5%;
  padding-left: 5%;
}

body,
html {
  color: white;
}

a {
  color: #03a2ff;
}

a:hover {
  color: #03d0ff;
}

a:active {
  color: cyan;
}

a.active {
  text-shadow: 0px 0px 8px #ccc;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}
